*.png
*.jpg
*.jpeg
*.log
*.json
!label_studio_annotations/
!label_studio_annotations/**/*.json
!databases/
!databases/**/*.json
!annotations/
!annotations/**/*.json
*.pth
*.pt
*.cache
models/**/labels/
models/**/images/
!models/runs/**/*_pred.jpg
#models/runs/
!models/run_results.json