*.png
*.jpg
*.jpeg
*.log
*.json
!label_studio_annotations/
!label_studio_annotations/**/*.json
!databases/
!databases/**/*.json
databases/laji_clean_images
!annotations/
!annotations/**/*.json
*.pth
*.pt
*.cache
models/**/labels/
models/**/images/
!models/runs/**/*_pred.jpg
!models/runs/**/*output.png
#models/runs/
!models/run_results.json
*__pycache__/